extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/admin.css' media='screen')
  script(src="/javascripts/admin.js" async)  
block content

  h1 #{ title }

  table
    thead
      tr
        th Nom
        th Crée
        th Niveau
        th Email
    tbody
      each user in users
        tr
          td= user.local.pseudo
          td= formatDate(user.ajoute, "dateTime")
          td= user.level
          td= user.email
          td
            a(href='/user/' + user._id + '/delete') Supprimer
          td
            a(href='/user/' + user._id + '/edit') Modifier