extends ../site/layout
block extend_head
  script(src="/javascripts/profile.js" async)

block content

  form.recette(method="POST")
    
    - const isOwner = user && user.local.pseudo === profile.pseudo;
    h1=(isOwner ? 'Bienvenue ' : 'Profil de ') + profile.pseudo

    div
      img(src=profile.avatar || "/images/default-avatar.png")
    div 
      h3 Profil
    div Pseudo : #{ profile.pseudo }
    div
      span URL de l'avatar
      input.inline-block(style="margin: 0 25px 5px 15px; width: 300px !important" name="avatar" type="text" value=profile.avatar)
    if (isOwner)
      div
        span Uploader mon avatar
        input.inline-block(id="avatarInputFile" style="margin: 0 25px 5px 15px; width: 300px !important" type="file" accept="image/*")
        input(id="avatarInputFileBase64" name="avatarImageBase64" type="hidden")
      div
        span Email
        input.inline-block(style="margin: 0 25px 5px 15px; width: 300px !important" name="email" type="email" value=profile.email)
      div
        input.pushable.btn-small(style="display: inline-block;" type="submit", value="Enregistrer")
        input(type="hidden" name="_csrf" value=csrfToken)
    
    hr
    div 
      h3 Activité
    div Nombre de recettes postées : #{ profile.recipes.count }
    //- div Nombre de recettes suivies : 
    div Nombre d'arômes dans la besace : #{ profile.aromas.count }
    hr
    div
      h3 Statut dans la communauté
    //- div Nombre de followers :
    div Likes reçus : #{ profile.likes.received }
    div Recettes les plus likées :
    div
      ul
        each recette in profile.recipes.tops
          li
            a(href="/recette/" + recette._id)= recette.nom
            span= " (" + recette.likes.length + ")"

    div Likes donnés : #{ profile.likes.given }