extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/recettes.css')
block content

  h1 #{ title }

  ul.recettes
    each recette in recettes
      li
        .recette-container
          b.title #{ recette.nom }
          span Ajoutée le #{ formatDate(recette.ajoute) }
          br
          span par #{ recette.auteur }
          ul.tags
            each hashtag in recette.hashtags
              li
                a.hashtag(href='/recettes/search/hashtags/' + hashtag.substr(1, hashtag.length - 1)) #{ hashtag }
          div
            .col-50
              .recette-icon
                a(href='/recette/' + recette._id + '/detail')
                  i.detail
                  span Détail
              .recette-icon
                a(href="https://twitter.com/intent/tweet?text=D%C3%A9couvrez%20la%20recette%20" + recette.nom + "%20:%20"+ recette.shortUrl)
                  i.twitter
                  span Tweet
              .recette-icon
                a(href="https://www.facebook.com/sharer/sharer.php?u=" + recette.shortUrl)
                  i.facebook
                  span Share               
              if (user && recette.auteur.toString() !== user.local.pseudo.toString())
                  .recette-icon
                    a(href='/recette/' + recette._id + '/fork')
                      i.fork
                      span Fork
            .col-50
              .likes
                form(method="POST", action='/recette/' + recette._id + '/like')
                  input(type="button").like
                  span=recettes.likes ? recette.likes.length : 0