extends ../layout
block content

  h1 #{ title }

  ul.recettes
    each recette in recettes
      li
        .recette-nom
          label Nom de la recette
          span #{ recette.nom }
        .recette-ajoute
          label Ajoutée le
          span #{ recette.ajoute }
        .recette-auteur
          label Auteur
          span #{ recette.auteur }
        .recette-notes
          label Notes
          span #{ recette.notes }
        ul.recette-tags
          each tag in recette.hashtags
            li #{ tag }

        a(href="detail/" + recette._id) Détail