extends ../layout
block content

  h1 #{ title }

  ul.recettes
    each recette in recettes
      li
        .recette-container
          b.title #{ recette.nom }
          br
          span Ajoutée le #{ recette.ajoute.toISOString().substr(0, 10) }
          br
          span par #{ recette.auteur ? recette.auteur.local.pseudo : '' }
          ul.tags
            each tag in recette.hashtags
              li #{ tag }
          div.likes
            span.plus 10
            span.minus 5

          a(href="detail/" + recette._id) Détail