extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/recette-new.css' media='screen')
  script(src="/javascripts/recette.js" async)
  script(src="/javascripts/components/complex/comments/comment.mjs" type="module" async)
  script(src="/javascripts/components/complex/comments/commentList.mjs" type="module" async)
  script(src="/javascripts/components/complex/comments/commentForm.mjs" type="module" async)

block content

  .recette
    .col-70
      h1.recette-title= recette.nom
    .col-30
      .col-50
      .col-50
        div.recette-actions
          if (user && user.local.pseudo === recette.auteur)
            .recette-action
              a(no-border, href='/recette/' + recette._id + '?mode=edit')
                .pushable.bg-primary.bg-primary-hover
                  i.edit
            .recette-action
              button(id='remove-recette' _id=recette._id)
                .pushable.bg-warning.bg-warning-hover
                  i.remove
          else
            .recette-button
              a.pushable(no-border, href='/recette/' + recette._id + '?mode=fork')
                i.fork

    em= 'postée par '
    a(href="/recettes/search/auteur/" + recette.auteur +'/1')= recette.auteur
    span=' le ' + formatDate(recette.ajoute)

    .recette-details
      div
        h2 Informations
      ul
        li
          b Maturation recommandée : 
          span #{ recette.maturation } jours
        li
          b Tags&nbsp;: 
          each tag in recette.hashtags
            a(href="/recettes/search/hashtags/" + tag.substr(1))= tag
            span &nbsp;
        li
          b Notes&nbsp;: 
          span #{ recette.notes }

      div
        h2 Ingrédients

      if (recette.bases && recette.bases.length > 0)
        div
          h3 Bases&nbsp;:
          ul
            for base in recette.bases
              li #{ base.pourcentage }% de base en #{ base.nicotine }mg de nicotine avec un ratio PG/VG de #{ base.ratio }

      if (recette.aromes && recette.aromes.length > 0)
        div
          h3 Arômes&nbsp;:
          ul
            for arome in recette.aromes
              li #{ arome.pourcentage }% de #{ arome.nom } (#{ arome.marque })

      div
        h2 Total
        -const totalA = recette.aromes.reduce(function(accumulateur, arome) { return accumulateur + arome.pourcentage }, 0)
        span= totalA
        span % d'arômes pour un dosage de 
        -const totalN = recette.bases.reduce(function(accumulateur, base) { return accumulateur + base.pourcentage * base.nicotine / 100 }, 0)
        span= totalN
        span mg de nicotine

      div 
        recipe-comment-list(comments=recette.comments)
        if (user && user.local.pseudo)
          .col-50.padded-right
            recipe-comment-form(id=recette._id csrfToken=csrfToken)
            