extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/recette-new.css')
  script(src="../../javascripts/recette-new.js")    
block content

  .col-80
    h1= recette.nom
  .col-20
    div.right
      if (user && user.local.pseudo.toString() === recette.auteur.toString())
        .recette-button
          a(href='/recette/' + recette._id + '/edit')
            i.edit
      else
        .recette-button
          a(href='/recette/' + recette._id + '/fork')
            i.fork

  em= 'postée par '
  a(href="/recettes/search/auteur/" + recette.auteur +'/1')= recette.auteur
  span=' le ' + recette.ajoute.toISOString().substr(0, 10)

  form.recette(method="POST")
    div
      h2 Informations
    ul.recette-informations
      li
        b Maturation recommandée : 
        span #{ recette.maturation } jours
      li
        b Tags :
        each tag in recette.hashtags
          a(href="/recettes/hashtags/" + tag.substr(1))= tag
          span &nbsp;
      li
        b Notes : 
        span #{ recette.notes }

    div
      h2 Ingrédients

    if (recette.bases && recette.bases.length > 0)
      div
        h3 Bases :
        ul
          for base in recette.bases
            li #{ base.pourcentage }% de base en #{ base.nicotine }mg de nicotine avec un ratio PG/VG de #{ base.ratio }

    if (recette.aromes && recette.aromes.length > 0)
      div
        h3 Arômes :
        ul
          for arome in recette.aromes
            li #{ arome.pourcentage }% de #{ arome.nom } (#{ arome.marque })

    div
      h3 Commentaires :
      if (recette.commentaires && recette.commentaires.length > 0)
        ul
          for commentaire in recette.commentaires
            li
              div
                span posté par 
                a(href="/users/" + commentaire.user)= commentaire.auteur 
                span le 
                span= commentaire.poste.toISOString().substr(0, 10)
      form(method="POST", action="")