extends ../site/layout
block extend_head
  link(rel='stylesheet', href='/stylesheets/recette-new.css')
  script(src="../../javascripts/recette-new.js")    
block content

  h1 #{ title }

  form.recette(method="POST")

    div
      .title.center
        b Infos
      ul
        li
          .col-10
            label Nom de la recette
          .col-90
            span= recette.nom
        li
          .col-10
            label Maturation
          .col-90
            span= recette.maturation
        li
          .col-10
            label Notes
          .col-90
            span= recette.notes
        li
          .col-10
            label Tags
          .col-90
            span= recette.hashtags.join(' ')
    br
    div
      .title.center
        b Bases
      ul.recette-bases
        for base in recette.bases.length ? recette.bases : [{}]
          li
            .col-10
              label Base 1
            .col-90.arome-container
              .col-10.padded-right
                span.short-label Ratio PG / VG
              .col-10
                span= base.ratio
              .col-10.padded-right
                span.short-label Taux de Nicotine
              .col-10
                span= base.nicotine
              .col-10
                span mg
              .col-10
                span= base.pourcentage
              .col-10
                span %
              .col-30 &nbsp;

    br
    div
      .title.center
        b Arômes
      ul.recette-aromes
        each arome in recette.aromes.length ? recette.aromes : [{}]
          li
            .col-10
              label Arôme 1
            .col-90.arome-container
              .col-20.padded-right
                span= arome.marque
              .col-30.padded-right
                span= arome.nom
              .col-10
                span= arome.pourcentage
              .col-10
                span %
              .col-30
                .col-50.padded-right &nbsp;
    br
    div
      if (user && user._id.toString() == recette.auteur.toString())
        .recette-button
          a(href='/recettes/edit/' + recette._id)
            i.edit
            span Modifier
      else
        .recette-button
          a(href='/recettes/fork/' + recette._id)
            i.fork
            span Fork